# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# These files are text and should be normalized (convert crlf to lf)
*.txt   text
*.php   text
*.js    text
*.css   text
*.html  text
*.css   text
*.md    text
*.sh    text
*.py    text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png   binary
*.jepg  binary
*.gif   binary
